fastapi==0.89.1
pymongo==4.6.1
pydantic==1.10.14
Jinja2==3.1.2
uvicorn
python-docx
starlette==0.22.0
python-multipart
img2pdf
pdf2image
pytrovich
python-dotenv
argon2-cffi
slowapi
fast_captcha
cryptography
python-json-config
python-statemachine
pandas
