{% extends "admin_base.html" %} {% block title %} Конкурс {% endblock %} {%
block base_content %}
<div class="m-4">
  <h2 class="mb-3">Конкурс</h2>
  <div>
    <div>
      <table class="table sortable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Почта</th>
            <th>Телефон</th>
            <th>Программа обучения</th>
            <th>Подтвердить</th>
            <th>Отклонить</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>
              <input style="width: 100px" value="{{ user.id }}" readonly />
            </td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.application.selectedProgram }}</td>
            <td>
              <button class="btn btn-success confirm-btn" data-id="{{ user.id }}">
                Зачислить
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
              </button>
            </td>
            <td>
              <button class="btn btn-danger reject-btn" data-bs-toggle="modal"
                data-bs-target="#rejectModal{{ user.id }}" data-id="{{ user.id }}">
                Удалить заявку
              </button>
              <div class="modal fade" id="rejectModal{{ user.id }}" tabindex="-1" role="dialog"
                aria-labelledby="rejectModalLabel{{ user.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="rejectModalLabel{{ user.id }}">
                        Отклонить абитуриента
                      </h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <label for="rejectionReason{{ user.id }}">Причина отклонения:</label>
                      <textarea class="form-control" id="rejectionReason{{ user.id }}" rows="3"></textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Закрыть
                      </button>
                      <button type="button" class="btn btn-danger reject-modal-btn" data-id="{{ user.id }}"
                        data-bs-dismiss="modal">
                        Отклонить
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {

    $(".close").addClass("btn-close");

    $(".close").children().remove();

    // Обработчик для кнопки "Подтвердить"
    document.querySelectorAll(".confirm-btn").forEach(function (button) {
      button.addEventListener("click", function () {
        $(this).prop("disabled", true);
        $(this).find(".spinner-border").prop("hidden", false);

        var userId = this.getAttribute("data-id");
        sendDecision(button, userId, "approved");
      });
    });

    // Обработчик для кнопки "Отклонить" в модальном окне
    document
      .querySelectorAll(".reject-modal-btn")
      .forEach(function (button) {
        button.addEventListener("click", function () {
          var userId = this.getAttribute("data-id");
          var reason = document.getElementById(
            "rejectionReason" + userId
          ).value;
          sendDecision(button, userId, "rejected", reason);
        });
      });

    function sendDecision(button, userId, status, reason = null) {
      var data = {
        userId: userId,
        status: status,
        reason: reason,
      };

      fetch("/admin/competition", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      })
        .then((response) => {
          return Promise.all([response.json(), response.ok]);
        })
        .then(([data, ok]) => {
          if (!ok) {
            throw new Error(data.detail);
          }

          console.log("Решение успешно отправлено на сервер:", data);
          // Удаление строки из таблицы
          var row = button.closest("tr");
          row.parentNode.removeChild(row);
        })
        .catch((error) => {
          console.error("Ошибка при отправке решения:", error);
          alert(error);
          location.reload();
        });
    }
  });
</script>
{% endblock %}