{% extends "admin_base.html" %} {% block title %} Отклоненные заявки {% endblock %} {%
block base_content %}

<div class="m-4">
  <h2 class="mb-3">Отклоненные заявки из-за документов</h2>
  <div>
    <div>
      <table class="table sortable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Почта</th>
            <th>Телефон</th>
            <th>Программа</th>
            <th>Документы</th>
            <th>Причина отклонения</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>
              <input style="width: 60px" value="{{ user.id }}" readonly />
            </td>
            <td>{{ user.fullName }}{% if user.parentFullName %} <br>{{ user.parentFullName }} (род.) {% endif %}</td>
            <td>{{ user.email }}{% if user.parentEmail %} <br>{{ user.parentEmail }} (род.) {% endif %}</td>
            <td>{{ user.phone }}{% if user.parentPhone %} <br>{{ user.parentPhone }} (род.) {% endif %}</td>
            <td>{{ user.application.selectedProgram }}</td>
            <td>
              <a href="/admin/get_pdf_docs?user_id={{ user.id }}">Документы</a>
            </td>
            <td>{{ user.application.lastRejectionReason }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}