{% extends "admin_base.html" %} {% block title %} Управление программами {% endblock %} {%
block base_content %}

<div class="container mt-5">
    <form method="POST" action="/admin/edit_program?program_id={{ program.baseId }}" data-json-submi novalidate>
        <h1 class="mb-4">Изменение программы {{ program.brief }}</h1>
        <div id="programs-json-editor"></div>

        <button type="submit" class="btn btn-primary mb-3 ">
            Применить
        </button>
    </form>
</div>


<script>
    const editProgramsSchema = {{ edit_programs_schema | tojson }}
    console.log(JSON.parse({{ program_json | tojson | safe }}))
    console.log(editProgramsSchema)

    function addEditor(id, schema) {
        console.log(id)
        let editor = new JSONEditor(document.getElementById(id), {
            theme: "bootstrap5",
            schema: schema,
            disable_collapse: true,
            disable_edit_json: true,
            disable_properties: true,
            iconlib: "fontawesome5",
            startval: JSON.parse({{ program_json | tojson | safe }})
        });

    editor.on('ready', function () {
        let form = $('#' + id).find('.row');
        form.find(".form-control").prop("required", true);

        $('.json-editor-btn-add').hide();
    });

    document.getElementById(id).parentElement.addEventListener('submit', function (event) {

        event.preventDefault();
        var url = this.getAttribute('action');
        var method = this.getAttribute('method');
        var xhr = new XMLHttpRequest();
        xhr.open(method, url, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            if (xhr.status === 200) {
                location.reload();
            } else {
                alert("Ошибка: " + JSON.parse(xhr.responseText).detail);
            }
        };
        if (editor.validate().length === 0) {
            xhr.send(JSON.stringify(editor.getValue()));
        } else {
            console.log(editor.validate())
            alert("Неверно заполнены данные")
        }
    });
    }

    document.addEventListener('DOMContentLoaded', function () {
        addEditor("programs-json-editor", editProgramsSchema);
    });

</script>

{% endblock %}