<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="/static/dist/styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
  </svg>
</head>

<body>
  <div class="content">
    <div id="header-container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/static/icons/cs.png" style="max-height: 48px; width: auto;"
              class="navbar-logo d-inline-block align-top" />
          </a>
          <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              {% if user is undefined %}
              <li class="nav-item">
                <a class="nav-link" href="/login">Вход</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/registration">Регистрация</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/dashboard"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-person-arms-up" viewBox="0 0 16 16">
                    <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                    <path
                      d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.81-4.865a.59.59 0 0 1 1.165 0l.81 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.5 1.5 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.7.7 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.7.7 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z" />
                  </svg> {{ user.fullName }}</a>

              </li>
              <li class="nav-item">
                <a class="nav-link" id="logout" href="#">Выход</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container mb-5">{% block base_content %}{% endblock %}</div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Наш адрес</h5>
          <p>
            <i class="fas fa-map-marker-alt"></i> Ф. Энгельса ул.,1, Таганрог
          </p>
        </div>
        <div class="col-md-4">
          <h5>Соцсети</h5>
          <p>
            <a href="https://vk.com/mopevm_school" target="_blank">
              <i class="fab fa-vk"></i> Группа ВК
            </a>
          </p>
        </div>
        <div class="col-md-4">
          <h5>Контакты</h5>
          <p>
            <a href="tel:+78634393545"> <i class="fas fa-phone"></i> +7 (863) 439-35-45</a><br>
            <a href="mailto:mopevm.school@gmail.com "><i class="fas fa-envelope"></i> mopevm.school@gmail.com </a>
          </p>
        </div>
        <div class="col">
          <small>
            <i class="far fa-copyright"></i> Кафедра МОП ЭВМ + Научно-образовательный центр математического и
            программного обеспечения информационных систем реального времени Южного федерального университета
          </small>
        </div>
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/static/dist/bundle.js"></script>
  <script>
    $(document).ready(function () {
      $('.navbar-toggler').on('click', function () {
        $('#navbarNav').collapse('toggle');
      });
      $('#logout').on('click', function () {
        $.post('/logout', function () {
          window.location.href = '/';
        });
      });
    });
  </script>
</body>

</html>