{% extends "base.html" %} {% block title %} Личный кабинет ШК {% endblock %} {%
block base_content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="d-flex align-items-center mb-3">
        <img class="me-3" width="60" height="60"
          src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/external-astronaut-space-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-4.png"
          alt="external-astronaut-space-vitaliy-gorbachev-lineal-color-vitaly-gorbachev-4" />
        <div>
          <h1>{{user.fullName}}</h1>
          <p>{{user.email}}</p>
        </div>
      </div>
      <p>
        {% if user.phone is not none and user.phone != "" %} Телефон:
        {{user.phone}} <br />
        {% endif %} {% if user.parentPhone is not none and user.parentPhone !=
        "" %} Телефон родителя: {{user.parentPhone}} <br />
        {% endif %} Школа: {{user.school}}, {{user.schoolClass}} класс <br />
      </p>
      <button data-bs-toggle="modal" data-bs-target="#setPasswordModal" class="btn btn-primary mb-3">Сменить
        пароль</button>

      <div class="modal fade" id="setPasswordModal" tabindex="-1" role="dialog" aria-labelledby="addProgramModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addProgramModalLabel">
                Смена пароля
              </h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="POST" action="/change_password" id="set-password-form">
                <label class="form-label mt-3">Старый пароль</label>
                <input type="password" class="form-control" name="old_password">
                <label class="form-label mt-3">Новый пароль</label>
                <input type="password" class="form-control" name="new_password">
                <label class="form-label mt-3">Новый пароль еще раз</label>
                <input type="password" class="form-control" name="new_password_confirm">

                <button type="submit" class="btn btn-primary mt-3">
                  Сменить пароль
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <a href="/application" class="btn btn-success mb-3">
        Подать заявление на обучение
      </a>
    </div>
    {% if user.completedPrograms %}
    <div class="col-md-8">
      <h4>Пройденные программы обучения</h4>
      <ul class="list-group mb-3">
        {% for completedProgram in user.completedPrograms %}
        <li class="list-group-item">{{completedProgram.brief}} ({{completedProgram.year}}), Оценка: {{completedProgram.grade}}{% if completedProgram.diploma %}<p class="ml-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Грамота за лучший результат среди группы">👑</p>{% endif %}</li>
        {% endfor %}
      </ul>
      {% if user.applicationSelectedProgram is not none %}
      <h4>Активная заявка: {{user.applicationSelectedProgram}}</h4>
      <p>Статус: {{user.applicationStatus}}</p>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
<!-- <h3>Журнал</h3>
<iframe width="100%" height="500px"
  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTLf05cGQ5A_UXdE_1poSY2MAYiyzzsxsbXqJg8Rl-OqKm1lcyVaUChmpYT1K0lvwps5BtZOzizZQmd/pubhtml?widget=true&amp;headers=false"></iframe> -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    $("#set-password-form").submit(function (event) {
      event.preventDefault();
      if (
        $("#set-password-form input[name=new_password]").val() !=
        $("#set-password-form input[name=new_password_confirm]").val()
      ) {
        alert("Пароли не совпадают");
        return;
      }

      fetch("/change_password", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          oldPassword: $("#set-password-form input[name=old_password]").val(),
          newPassword: $("#set-password-form input[name=new_password]").val(),
        }),
      }).then(function (response) {
        if (response.ok) {
          alert("Пароль успешно изменен");
          window.location.reload();
        } else {
          alert("Неправильный пароль");
        }
      });
    });
  });
</script>
{% endblock %}