{% extends "base_with_status.html" %} {% block title %} Подача заявления {%
endblock %} {% block base_with_status_content %}
<div class="container mt-5">
  <h1 class="mb-2">
    К сожалению, ваша заявка на обучение отклонена.
  </h1>
  <h3 class="mb-3">Причина: {{ rejectionReason }}</h3>
  <button class="btn btn-primary" id="delete-application-btn">Удалить заявку</button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    $("#delete-application-btn").click(function () {
      $.ajax({
        url: "/application/delete_application",
        type: "POST",
        success: function (data) {
          window.location.href = "/dashboard";
        },
        error: function (data) {
          console.log(data);
          alert("Не удалось удалить заявку");
        },
      });
    });
  });
</script>

{% endblock %}